@media only screen and (max-width: 768px) {
  .search {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .top_header_right {
    flex-wrap: nowrap;
  }
  .mobile_menu_option {
    display: flex;
    align-items: center;
  }
  .hatirpal_info {
    display: none;
  }
  .category_menu_option {
    display: none;
  }
  .lower_header {
    position: unset;
  }
  .trending .trending_ul {
    display: flex;
  }
  .left_heading {
    height: 40px;
  }
  .left_category_heading h5 {
    margin-left: 5px;
  }
  .left_category_heading a {
    margin-right: 5px;
    bottom: 8px;
  }
}
@media only screen and (min-width: 768px) {
  .cart {
    overflow: unset !important;
  }
}
@media only screen and (max-width: 768px) {
  .newarrival_row .col-md-4 {
    padding: 0 !important;
    margin: 10px 0;
  }
  .root_category {
    top: 200px;
  }
  .sub_category {
    width: 90%;
  }
  .trending ul li:nth-child(1) {
    border-bottom: unset;
  }
  .logo a {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 576px) {
  .trending .mymarket_ul {
    display: flex;
  }
  .trending .mymarket_ul li {
    width: 50%;
  }
  .trending .trending_ul li {
    width: 50%;
  }
  .sub_category {
    display: none;
  }
  .root_category_li:hover .sub_category {
    display: none;
  }
  .top_header_right {
    font-size: 10px;
  }
  .price_range_div {
    display: inherit;
  }
  .auth_user {
    display: none;
  }
}
